{% extends 'base.html.twig' %}

{% block title %}Reparacion index{% endblock %}

{% block body %}
    <h1>Reparacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado_reparacion</th>
                <th>Costo_reparacion</th>
                <th>Fecha_entrada</th>
                <th>Fecha_salida</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reparacion in reparacions %}
            <tr>
                <td>{{ reparacion.id }}</td>
                <td>{{ reparacion.estadoReparacion }}</td>
                <td>{{ reparacion.costoReparacion }}</td>
                <td>{{ reparacion.fechaEntrada ? reparacion.fechaEntrada|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reparacion.fechaSalida ? reparacion.fechaSalida|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reparacion_show', {'id': reparacion.id}) }}">show</a>
                    <a href="{{ path('app_reparacion_edit', {'id': reparacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reparacion_new') }}">Create new</a>
{% endblock %}
